
<div class="panel-body">
    <div class="row well well-lg lang-bar">
        <div class="col-lg-8">
            <div class="col-lg-3">
                <button type="button" class="btn btn-install btn-block">
                    <h3>نصب</h3>
                </button>
            </div>

        </div>

        <div class="col-lg-2">
            <h1 class="product-name"><strong>اینستاگرام</strong></h1><h4><small>استودیوهزارتو</small></h4>
        </div>
        <div class="col-lg-2">
            <img class="img-responsive" src="~/Content/images/iconShowDetelis/app-5.png" width="185" height="185">
        </div>
    </div>
    <div class="row  well well-lg lang-bar">
        <div class="col-lg-8">
            <div class="col-lg-3">
                <button type="button" class="btn btn-install btn-block">
                    <h3>نصب</h3>
                </button>
            </div>

        </div>

        <div class="col-lg-2">
            <h1 class="product-name"><strong>اینستاگرام</strong></h1><h4><small>استودیوهزارتو</small></h4>
        </div>
        <div class="col-lg-2">
            <img class="img-responsive" src="~/Content/images/iconShowDetelis/app-5.png" width="185" height="185">
        </div>
    </div>
    <div class="row  well well-lg lang-bar">
        <div class="col-lg-8">
            <div class="col-lg-3">
                <button type="button" class="btn btn-install btn-block">
                    <h3>نصب</h3>
                </button>
            </div>

        </div>

        <div class="col-lg-2">
            <h1 class="product-name"><strong>اینستاگرام</strong></h1><h4><small>استودیوهزارتو</small></h4>
        </div>
        <div class="col-lg-2">
            <img class="img-responsive" src="~/Content/images/iconShowDetelis/app-5.png" width="185" height="185">
        </div>
    </div>
</div>