@model AppStore.Models.Product
<div class="small-product">
    <img src="/api/files/@Model.Logo.Id" alt="@Model.Name logo" />
    @*<img src="@Url.Action("Get", "Files", new { area = "Api", id = Model.Logo.Id })" alt="@Model.Name logo" />*@
    <span class="">@Model.Name</span>
</div>