@*@model AppStore.Models.Product
    <div class="small-product">
        <img src="/api/files/@Model.Logo.Id" alt="@Model.Name logo" class="img-rounded"   />

        <span class="small-span">@Model.Name</span>
    </div>*@
@*<img src="@Url.Action("Get", "Files", new { area = "Api", id = Model.Logo.Id })" alt="@Model.Name logo" />*@
