@model List<AppStore.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

@Html.Partial("_SlidShowPartial")
@*<div class="col-md-4">
        @foreach (var item in Model)
        {
            @Html.Partial("~/Views/Product/LinearProduct.cshtml", item)
        }
    </div>*@

@*Home page*@
<section class="p-5 margin-top-xl pos-r" id="slide-box-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="message text-right text-gray text-bold">برنامه های محبوب من</h4>

                </div>

                <div class="col-sm-12">
                    <div class="mt-5 pos-r">
                        <div class="carousel-controls testimonial-carousel-controls">
                            <div class="control prev"><i class="fa fa-chevron-left text-gray">&nbsp;</i></div>
                            <div class="control next"><i class="fa fa-chevron-right text-gray">&nbsp;</i></div>
                        </div>
                        <div class="testimonial-carousel">
                            <div class="one-slide white">
                                <div class="testimonial w-100 h-100  p-3 text-center">
                                    <div class="brand"><img alt="Florida Dairy Farmers" src="~/Content/images/iconProduct/viber.png" width="150" height="150" class="mx-auto" /></div>
                                    <div class="separator">&nbsp;</div>
                                    <spa class="message text-center text-gray" style="direction:rtl">instagram</spa>

                                </div>
                            </div>
                            <div class="one-slide white">
                                <div class="testimonial w-100 h-100  p-3 text-center">
                                    <div class="brand"><img alt="Florida Department of Education" src="~/Content/images/iconProduct/shareit (1).jpg" width="150" height="150" class="mx-auto" /></div>
                                    <div class="separator">&nbsp;</div>
                                    <div class="message text-center text-gray">Shearit</div>

                                </div>
                            </div>

                            <div class="one-slide white">
                                <div class="testimonial w-100 h-100  p-3 text-center">
                                    <div class="brand"><img alt="Seminole County" src="~/Content/images/iconProduct/snap.png" width="150" height="150" class="mx-auto" /></div>
                                    <div class="separator">&nbsp;</div>
                                    <div class="message text-center text-gray">snapp</div>
                                </div>
                            </div>
                            <div class="one-slide white">
                                <div class="testimonial w-100 h-100  p-3 text-center">
                                    <div class="brand"><img alt="Seminole County" src="~/Content/images/iconProduct/snap.png" width="150" height="150" class="mx-auto" /></div>
                                    <div class="separator">&nbsp;</div>
                                    <div class="message text-center text-gray">snapp</div>

                                </div>
                            </div>
                            <div class="one-slide white">
                                <div class="testimonial w-100 h-100  p-3 text-center">
                                    <div class="brand"><img alt="Lynx" src="~/Content/images/iconProduct/telegram.jpg" width="150" height="150" class="mx-auto" /></div>
                                    <div class="separator">&nbsp;</div>
                                    <div class="message text-center text-gray">telegram</div>
                                </div>
                            </div>
                            <div class="one-slide white">
                                <div class="testimonial w-100 h-100  p-3 text-center">
                                    <div class="brand"><img alt="Miami Beach VCA" src="~/Content/images/iconProduct/viber.png" width="150" height="150" class="mx-auto" /></div>
                                    <div class="separator">&nbsp;</div>
                                    <div class="message text-center text-gray">viber</div>
                                </div>
                            </div>
                            <div class="one-slide white">
                                <div class="testimonial w-100 h-100  p-3 text-center">
                                    <div class="brand"><img alt="Oneblood" src="~/Content/images/iconProduct/whatsapp.jpg" width="150" height="150" class="mx-auto" /></div>
                                    <div class="separator">&nbsp;</div>
                                    <div class="message text-center text-gray">whatsapp</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


